@import "~bulma/sass/utilities/initial-variables.sass";

// Change default value for variables here
$vb-bc-light: $grey-light;
$vb-bc-middle: $grey-light;
$vb-bc-dark: hsl(0, 0%, 64%);
$vb-dragger-display: none;
$vb-dragger-width: 7px;
$vb-styler-margin: 0;
$vb-styler-height: 100%;
// ↑

$vb-bc-light: rgba(48, 121, 244, .1) !default;
$vb-bc-middle: rgba(48, 121, 244, .3) !default;
$vb-bc-dark: rgba(48, 121, 244, .5) !default;

$vb-dragger-display: block !default;
$vb-dragger-width: 12px !default;
$vb-styler-margin: 5px 5px 5px 0 !default;
$vb-styler-height: calc(100% - 10px) !default;

$vb-styler-bc: $vb-bc-light !default;
$vb-styler-bc-hover: $vb-bc-dark !default;
$vb-styler-bc-scrolling-phantom: $vb-bc-middle !default;
$vb-styler-bc-dragging: $vb-bc-dark !default;
$vb-styler-bc-dragging-phantom: $vb-bc-dark !default;

.vb {
  & > .vb-dragger {
    display: $vb-dragger-display;
    z-index: 5;
    width: $vb-dragger-width;
    right: 0;
    & > .vb-dragger-styler {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: rotate3d(0,0,0,0);
      transform: rotate3d(0,0,0,0);
      -webkit-transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
      transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
      background-color: $vb-styler-bc;
      margin: $vb-styler-margin;
      border-radius: 20px;
      height: $vb-styler-height;
      display: block;
    }
    &:hover > .vb-dragger-styler {
      background-color: $vb-styler-bc-hover;
      margin: 0;
      height: 100%;
    }
  }
  &:hover > .vb-dragger{
    display: block;
  }
  &:active > .vb-dragger{
    display: block;
  }
  &.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: $vb-styler-bc-scrolling-phantom;
  }
  &.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: $vb-styler-bc-dragging;
    margin: 0;
    height: 100%;
  }
  &.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: $vb-styler-bc-dragging-phantom;
  }
}

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    // background: black;  // Disabled default
    // color: white;  // Disabled default
    border-radius: 4px;  // Manually modified: default: 16px;
    padding: 2px 4px;  // Manually modified: default: 5px 10px 4px;
    background-color: $grey-lighter;  // Manually added
    color: $grey-dark;  // Manually added
    font-size: 0.75rem;  // Manually added
    border: $grey-light solid 1px;  // Manually added
    box-shadow: 3px 3px 3px $grey-dark;  // Manually added
  }

  .tooltip-arrow {
    display: none;  // Manually added
    width: 0;
    height: 0;
    // border-style: solid;  // Disabled default
    // border-color: black;  // Disabled default
    border: solid black;  // Manually added
    position: absolute;
    margin: 5px;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    /*transition: opacity .15s, visibility .15s;*/  // 解决目标元素隐藏时tooltip在body左上角闪耀的问题
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
